// Translator: do not translate "%.." in the texts

// General
MESS_ERROR, "Error"
MESS_FILE_ERROR, "File must be located under the working directory"
MESS_TXT_LOCAL, "local"
MESS_TXT_GLOBAL, "global"

// DFM BEGIN
// TMessageWindow
DFM_TMESSAGEWINDOW_CAPTION, "Message Window"
DFM_TMESSAGEWINDOW_TEXT_INIT_VHDL, "Initializing VHDL simulation..."
DFM_TMESSAGEWINDOW_TEXT_COMPILING_MCU_SRC, "Compiling MCU source code..."

// TProgressWindow
DFM_TPROGRESSWINDOW_CAPTION,  "Progress Window"
DFM_TPROGRESSWINDOW_SIMPROGR, "Simulation progress"
DFM_TPROGRESSWINDOW_ANNPROGR, "SDF backannotation progress"
// DFM END

// VHDL Error strings
MESS_UNKNOWN_IDENTIFIER, "Unknown identifier %s."
MESS_IMPROPER_ARRAY_LENGTH, "Improper array length. Actual length is %d. Expected length is %d."
MESS_IMPROPER_AGGREGATE_LENGTH, "Improper aggregate length. Expected length is %d."
MESS_ASSIGN_TARGET_INCOMPATIBLE, "Assignment target incompatible with right side. Expected type %s."
MESS_EXPECTED_TYPE, "Expected type"
MESS_ARRAY_IS_NOT_CONSTRAINED, "Array type for %s is not constrained."
MESS_TOO_MANY_PARAM_SUBP_CALL, "Too many actual parameters in subprogram call."
MESS_TOO_FEW_PARAM_SUBP_CALL, "Too few actual parameters in subprogram call."
MESS_NO_SUBP_BODY1, "The subprogram %s has no corresponding body declaration."
MESS_NO_SUBP_BODY2, "Subprogram %s has no body; package body may be missing."
MESS_RETURN_TYPE_ERR, "Returned value type does not match the type declared in function declaration."
MESS_SUBP_PARAM_TYPE_ERR, "Actual parameter types in subprogram call do not match subprogram formal parameter types."
MESS_INV_AGGREGATE, "Invalid aggregate."
MESS_CANNOT_FIND_CONTEXT, "Cannot find referenced context element."
MESS_ENU_EXPECTED, "Enumerated type expected."
MESS_AGGREGATE_BUF_OVERFLOW, "Aggregate buffer size exceeds the limit."
MESS_SAME_CONSTR_DIR_EXP, "Same constraint direction expected."
MESS_INDEX_POS_MISMATCH, "Actual index positions do not correspond to index positions in type declaration."
MESS_EXPECTED_ARRAY_TYPE, "Expected array type."
MESS_INDEX_REF_MISMATCH, "The index types in the reference to the array object are incompatible with its range type."
MESS_NO_INIT_CONSTANT, "Initial value is required for constant %s."
MESS_WAIT_IN_PROCESS_WITH_SENS, "Wait statement in process with explicit sensitivity list is not allowed."
MESS_SYMBOL_DECLARED, "Symbol %s has already been declared in this region."
MESS_INCOMP_TYPES, "Incompatible types"
MESS_INVALID_ATTR, "Invalid attribute"
MESS_ILLEGAL_PREFIX, "Illegal prefix for attribute"
MESS_OPERATOR_NOT_DEFINED, "Operator %s is not defined for such operands."
MESS_LABELS_DO_NOT_MATCH, "Labels do not match."
MESS_CANT_FIND_FUNCTION, "Cannot find function %s for these actuals."
MESS_STRING_EXPECTED, "String expected."
MESS_SEVERITY_LEVEL_EXPECTED, "SEVERITY_LEVEL expression type expected."
MESS_BOOLEAN_EXPECTED, "Boolean type expected."
MESS_SIGNAL_1, "Signal"
MESS_VARIABLE_1, "Variable"
MESS_CONSTANT_1, "Constant"
MESS_FILE_1, "File"
MESS_UNDEFINED_1, "Undefined"
MESS_CANT_BE_TARGET_1, "cannot be the target of a variable assignment."
MESS_CANT_BE_TARGET_2, "cannot be the target of a signal assignment."
MESS_ALIAS_1, "The type of aliased object does not match the type in the alias declaration."
MESS_IMPROPER_ARRAY_LENGTH_2, "Improper array length in this context. Expected length is %d."
MESS_NOT_OP_STR, "The character string in this context must represent a VHDL operator."
MESS_BINARY_OP_ERR, "Subprogram specification of a binary operator must have two parameters."
MESS_UNARY_OP_ERR, "Subprogram specification of a unary operator must have only a single parameter."
MESS_CLASS_SIGNAL_ERR, "Formal %s of class signal must be associated with a signal."
MESS_OTHERS_ERR, "OTHERS alternative must be the last and single choice association in the agrregate."
MESS_ILLEGAL_OP_TYPE_CONV, "Illegal operand for type conversion."
MESS_TYPE_CONV_CLOSE_TYPE_ONLY, "Explicit type conversion are allowed between closely related types only."
MESS_RANGE_CHECK_ERR, "Range check error"
MESS_SIM_FINISHED, "Simulation finished."
MESS_DESIGN_UNIT_NOT_FOUND, "Design unit %s not found."
MESS_ENTITY_NOT_FOUND, "Entity %s not found"
MESS_TIME_EXPRESSION_EXPECTED, "Time expression expected."
MESS_OBJECT_READONLY, "Object %s may not be written."
MESS_CANNOT_READ_OUTPUT, "Cannot read output : %s."
MESS_WRONG_PROCESS_SENS_LIST, "Signal %s in the sensitivity list must denote a signal that can be read"
MESS_WRONG_COMP_INS_LIST, "Actual of mode %s can not be assigned to formal %s of mode %s"
MESS_WRONG_WAIT, "Wait statement is allowed only within the procedure body or process statement."
MESS_WRONG_POS_NAMED_ASSOC, "Associations in array aggregate must be either all named or all positional."
MESS_DIFFERENT_TYPES, "Different types."
MESS_TOP_IS_NOT_OP, "Top is not operator."
MESS_INTERNAL_ERROR, "Internal error."
MESS_POS_ASSOC_ERROR, "Positional associations must precede named associations."
MESS_FORMAL_DONT_MATCH, "%s does not match the formal name."
MESS_CLASS_VARIABLE_ERR, "Formal %s of class variable must be associated with a variable."
MESS_FUNCTION_EXPECTED, "Function expected : %s."
MESS_INV_LITERAL, "Invalid literal : %s."
MESS_MISSING_LEFT_PAREN, "Missing left parenthesis."
MESS_MISSING_RIGHT_PAREN, "Missing right parenthesis."
MESS_SYNTAX_ERROR, "Syntax error."
MESS_VAR_FILE_ERR, "Variable cannot be of a file type."
MESS_FILE_IO_ERR, "File I/O error."
MESS_CHARACTER_NOT_ALLOWED, "Character type not allowed here."
MESS_SIGNAL_NOT_FOUND, "Signal %s not found in the architecture."
